version: 2.1

jobs:
  test:
      docker:
        - image: circleci/node:12-buster
      steps:
        - checkout

        # Cache, see: https://circleci.com/docs/2.0/language-javascript/#sample-configuration
        - restore_cache:
            key: dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}

        - run:
            command: |
              yarn
              yarn eslint --ext .json --ext .js .
              yarn test

        - save_cache:
            key: dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
            paths:
              - ./node_modules
  deploy:
    docker:
        - image: circleci/node:12-buster
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}

      - run:
          command: |
            # Trigger a CircleCI build of datenanfragen/website. We are starting this first, so it can run in parallel
            # with the Typesense deploy.
            curl --fail -X POST https://circleci.com/api/v1.1/project/github/datenanfragen/website/build -H "Circle-Token: ${PERSONAL_CIRCLE_TOKEN}"

            # Do the actual Typesense deploy.
            yarn
            yarn deploy

      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: /^master$/
