version: 2.1

jobs:
  test:
      docker:
        - image: circleci/python:3.7-buster
      steps:
        - checkout

        - run: sudo pip install pipenv

        # Cache, see: https://circleci.com/docs/2.0/language-python/#cache-dependencies
        - run: sudo chown -R circleci:circleci /usr/local/bin
        - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
        - restore_cache:
            key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}

        - run:
            command: |
              pipenv install
              python test-records.py

        - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
